<body>
<h1>Acerca de nosotros</h1>
<p>Somos una empresa de venta de electrónicos que tiene como objetivo brindar accesibilidad a la población de Perú
    a lo último en tecnología y al menor precio.<br><br>
    Hoy por hoy, estamos conscientes que la adaptación a cada uno de los cambios tecnológicos y el profundo conocimiento 
    del mercado son las claves para brindar un servicio de alto nivel, por esto, nuestro compromiso y reto es proponer ideas, 
    servicios y productos de alta calidad; implementar opciones viables, reales y adaptables a los distintos presupuestos; y, 
    sobre todo, ofrecer el servicio y atención que nuestros usuarios exigen y merecen.</p>

    <img src="https://www.industria-40.com/wp-content/uploads/2018/07/Optimal-Value-Systems-Empresa-de-Automatizacion-Industrial-Sistema-APS-Preactor-Industria-de-Electronicos-v001-compressor.jpg"
    width="800" height="500" style="display: block; margin-left: auto; margin-right: auto; width: 50%; 
    border: 1px solid #ddd; border-radius: 4px; padding: 5px">
</body>