@{
    ViewData["Title"] = "Home Page";
}

<br>
<br>
<br>
<br>
<div class="audifonos">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4">
            <img src="/imagenes/productos/audifonos_motorola.jpg" width="200px" height="200px" alt="Imagen de un audifono">
                <h3 align="center">Audifonos Motorola</h3>
                <p align="center">S/.30</p>
        </div>
        <div class="col-xs-10 col-sm-6 col-md-4">
            <img src="/imagenes/productos/audifonos_huawei.jpg" width="200px" height="200px" alt="Imagen de un audifono">
                <h3 align="center">Audifonos Huawei</h3>
                <p align="center">S/.80</p>
        </div>
        <div class="col-xs-10 col-sm-6 col-md-4">
            <img src="/imagenes/productos/audifonos_philips.jpg" width="200px" height="200px" alt="Imagen de un audifono">
                <h3 align="center">Audifonos Philips</h3>
                <p align="center">S/.60</p>
        </div>
        <br>

        <div class="w-200"></div>
        <br>

        <div class="col-xs-10 col-sm-6 col-md-4">
            <img src="/imagenes/productos/audifonos_apple.jpg" width="200px" height="200px" alt="Imagen de un audifono">
                <h3 align="center">Audifonos Apple</h3>
                <p align="center">S/.75</p>
        </div>
        <div class="col-xs-10 col-sm-6 col-md-4">
            <img src="/imagenes/productos/audifonos_skullcandy.jpg" width="200px" height="200px" alt="Imagen de un audifono">
                <h3 align="center">Audifonos SkullCandy</h3>
                <p align="center">S/.50</p>
        </div>
        <div class="col-xs-10 col-sm-6 col-md-4">
            <img src="/imagenes/productos/audifonos_sony.jpg" width="200px" height="200px" alt="Imagen de un audifono">
                <h3 align="center">Audifonos Sony</h3>
                <p align="center">S/.80</p>
        </div>
    </div>
</div>