@{
    ViewData["Title"] = "Home Page";
}

<div class="productos">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4">
            
                <img src="/imagenes/productos/audifonos.jpg" width="200px" height="200px" alt="Imagen de un audifono">
                <h3 align="center">Audifonos</h3>
            
        </div>
        <div class="col-xs-10 col-sm-6 col-md-4">
            
                <img src="/imagenes/productos/celular.jpg" alt="Imagen de un celular" width="200px" height="200px">
                <h3 align="center">Celulares</h3>
           
        </div>
        <div class="col-xs-10 col-sm-6 col-md-4">
            
                <img src="/imagenes/productos/laptops.png" alt="Imagen de una laptop" width="200px" height="200px">
                <h3 align="center">Laptops</h3>
        </div>
        <div class="w-100"></div>

        <div class="col-xs-10 col-sm-6 col-md-4">
            
                <img src="/imagenes/productos/smartwatch.jpg" alt="Imagen de una laptop" width="200px" height="200px">
                <h3 align="center">SmartWatch</h3>
        </div>
        <div class="col-xs-10 col-sm-6 col-md-4">
            
                <img src="/imagenes/productos/perifericos.jpg" alt="Imagen de una laptop" width="200px" height="200px">
                <h3 align="center">Perifericos</h3>
        </div>
        <div class="col-xs-10 col-sm-6 col-md-4">
            
                <img src="/imagenes/productos/computadoras.jpg" alt="Imagen de una laptop" width="200px" height="200px">
                <h3 align="center">Computadoras</h3>
        </div>

    </div>


</div>