
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/registro.css" />
    <title>Registro-Sane</title>
</head>
<body>


<div class="form-register">
    <h4>Registro de Datos - SANE</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
    <input class="controls" type="number" name="telefono" id="telefono" placeholder="Ingrese su Teléfono">
    <input class="controls" type="text" name="direccion" id="direccion" placeholder="Ingrese su Dirección">
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <input type="submit" value="Registrarse">
    <p><a href="ingreso">¿Ya tengo Cuenta?</a></p>
  </div>

    
</body>
</html>