<h1>Contactenos</h1>
<table style="width:100%">
<tr>
    <td>
    <div class="form-group">
        <h2>Solicite m치s Informaci칩n</h2>
        <div class="form-group">
        <input class="controls" type="text" name="nombres" placeholder="Nombre">
        </div>
        <div class="form-group">
        <input class="controls" type="text" name="apellidos" placeholder="Apellido">
        </div>
        <div class="form-group">
        <input class="controls" type="text" name="direccion" placeholder="Direcci칩n">
        </div>
        <div class="form-group">
        <input class="controls" type="email" name="correo" placeholder="Correo">
        </div>
        <div class="form-group">
        <textarea class="controls" type="text" name="Mensaje" rows="4" cols="50">
        </textarea>
        <div class="form-group">
        <input type="submit" value="Enviar">
        </div>
    </div>
    </td>
    <td style="width: 20%;">
        <h1>O</h1>
    </td>
    <td>
        <h2>Ll치menos al:</h2>
        <br>
        <h3>+51 9964578</h3>
    </td>
</tr>
</table>